<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="admin/template">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Task Entry</title>
  </head>
  <body>
  <div layout:fragment="content1">
    <div class="container my-3">

    <h1>Task Entry</h1>



    <form  th:action="@{/task/insert}"  th:object="${task}" method="post">
        
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" th:field="*{title}" class="form-control" id="title"  placeholder="Enter Title">
        </div>
        
        <div class="form-group">
          <label for="details">Details</label>
          <textarea th:field="*{details}" class="form-control" id="details"  placeholder="Enter task Detail"></textarea>
        </div>
         
     <!--     <div class="form-group">
          <label for="assign_date">Assign Date</label>
          <input type="date" th:field="*{assign_date}" class="form-control" id="assign_date" >
        </div> -->
        <div class="form-group">
          <label for="status_id">Status</label>
          <select th:field="${task.status}" name="status" class="form-select">
          <option  th:each = "status:${statuslist}"
          			th:text = "${status.name}"
          			th:value = "${status.id}">
          </option>
          </select>
        </div>
        
		

        <div class="form-group">
          <label for="assignTo">Assign To</label>
          <select th:field="${task.assignTo}" name="assignTo" class="form-select">
          <option  th:each = "user:${userlist}"
          			
          			th:if=${session.uid!=user.id}
          
          			th:text = "${user.fname}"
          			th:value = "${user.id}">
          </option>
          </select>
        </div>
   <!--      
        <div class="form-group">
          <label for="assignBy">Assign By</label>
          <select th:field="${task.assignBy}" name="assignBy" class="form-select">
          <option  th:each = "user:${userlist}"
          			th:text = "${user.fname}"
          			th:value = "${user.id}">
          </option>
          </select>
        </div>
      -->   
        <button type="submit" name= "submit" class="btn btn-primary">Submit</button>
      </form>

    
    
</div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>